@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
    font-family: 'Edu SA Beginner', cursive;
    text-decoration: none;
}
.Typography{
    font-family: 'Edu SA Beginner', cursive;
}

.switch-icons{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
}
.anticon svg{
  font-size: 20px;
  cursor: pointer;
}
.active-icon{
  color: black;
}
.inactive-icon{
  color: grey;
}
